* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    display: flex;
    overflow: hidden;
}

.home-page-container h2, h3, h4{
    color: #0071bd;
    font-weight: bold;
}

.navbar {
    background-color: rgb(0, 21, 41);
}

.coin-value-statistics p {
    min-height: 44px;
    margin-bottom: 0 !important;
}

.nav-container {
    background-color: #001529;
    position: fixed;
}



.logo-container .logo {
    margin-left: 7px;
}

.top-navbar {
    position: absolute !important;
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
    top: 0;
    left: 0;
    opacity: 1 !important;
}

.ant-menu-item {
    padding-left: 10px !important;
}

.menu-burger {
    color: white;
    font-size: 20px;
    align-self: center;
}

.closed-menu {
    overflow: hidden;
    height: 0 !important;
}

.logo-container {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.logo-container h2 {
    margin-bottom: 0 !important;
}

@media screen and (min-width: 768px) {
    .navbar-list-container {
        height: auto !important;
    }
    .main-content {
        margin-top: 0 !important;
        align-content: flex-start !important;
    }
    
    .logo-container h2 {
        margin-bottom: 0 !important;
    }
    
    .logo-container {
        margin: 10px 0;
    }

    .news-company-name-container {
        margin-top: 10px;
    }
    
}

@media screen and (max-width: 767px) {
    .nav-container {
        position: static;
    }
    .news-img {
        margin: 20px 0;
    }

    .news-title {
        margin: 0 !important;
    }
  
}

.show-more {
    color: black !important
}

@media screen and (max-width: 575px) {
    .show-more {
        text-align: left;
    }
}

/* XXL Screens */
@media screen and (min-width: 1200px) {
    .news-card {
        min-height: 260px;
        position: relative;
    }
    .news-company-name-container {
        position: absolute;
        bottom: 10px;
        width: 95%;
    }

}

@media screen and (min-width: 1000px) {
    .try {
        width: 70% !important;
    }
}

.routes {
   padding: 15px 10px;
}

.heading {
    margin-bottom: 10px !important;
}

.home-page-section-title {
    margin-top: 20px;
}

.search-crypto {
    margin-bottom: 16px;
}

.news-img {
    margin-bottom: 20px;
}

.news-company-name {
    margin-left: 5px;
}

.news-company-container {
    margin: 10px 0;
}

.ant-card-body {
    padding: 15px !important;
}

.loader {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9F9F9;
    z-index: 9;
}

.coin-stats {
    padding: 15px 10px;
    font-weight: bold;
    background-color: #fff;
    margin: 10px 0;
}

.coin-stats:first-of-type {
    margin-top: 0;
}

.coin-details-heading {
    margin-top: 20px;
}

.coin-desc h3 {
    font-size: 24px !important;
    margin-top: 20px;
}

.coins-details-container h2, h3 {
    color: #0071bd !important;
    font-weight: bold !important;
}
